In [ ]:
import sys
import os
import pandas as pd
import numpy as np

sys.path.append(os.path.abspath(os.path.join(os.getcwd(), '..')))
from utils import get_iris_contours_city, get_adjacency_from_gdf

In [52]:
waiting_time_api = 1
file_iris='../../data/IRIS/contours-iris.gpkg'
code_insee=44055
crs_angles='EPSG:4326'
crs_meters='EPSG:2154'
gdf_city_iris=get_iris_contours_city(file_iris, code_insee, crs=crs_angles)

In [68]:
gdf_city_iris_with_dist, adjacency_matrix = get_adjacency_from_gdf(gdf_city_iris, delay=waiting_time_api, crs_angles=crs_angles, crs_meters=crs_meters)

In [72]:
adjacency_matrix

array([[ 0.    ,  2.8856,  3.3062,  2.3819,  2.9707,  4.3403],
       [ 2.8856,  0.    ,  0.7609,  3.371 ,  7.4203, 11.3524],
       [ 3.3062,  0.7609,  0.    ,  3.0541,  7.0775, 11.0097],
       [ 2.3819,  3.371 ,  3.0541,  0.    ,  2.6009,  5.0269],
       [ 2.9707,  7.4203,  7.0775,  2.6009,  0.    ,  4.1328],
       [ 4.3403, 11.3524, 11.0097,  5.0269,  4.1328,  0.    ]])

In [69]:
num_rows = len(gdf_city_iris_with_dist)
cols = ['nom_iris'] + [f"dist_{i}" for i in range(num_rows)] 
gdf_city_iris_with_dist_filt = gdf_city_iris_with_dist[cols]
gdf_city_iris_with_dist_filt

            nom_iris  dist_0   dist_1   dist_2  dist_3  dist_4   dist_5
0  La Baule les Pins  0.0000   2.8856   3.3062  2.3819  2.9707   4.3403
1      Centre-Benoît  2.8856   0.0000   0.7609  3.3710  7.4203  11.3524
2    Gare-Grand Clos  3.3062   0.7609   0.0000  3.0541  7.0775  11.0097
3             Beslon  2.3819   3.3710   3.0541  0.0000  2.6009   5.0269
4          Escoublac  2.9707   7.4203   7.0775  2.6009  0.0000   4.1328
5           Le Guézy  4.3403  11.3524  11.0097  5.0269  4.1328   0.0000